select {
	background: #F0F3FB;
	border: 1px solid #F0F3FB;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	color: #3F3F3F;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.selectize-input {
	position: relative;	
}

.selectize-input:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #808080;
    right: 11px;
    top: 0px;
    height: 34px;
    padding: 8px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

